body, html {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  /* background-image: url('./img.jpg'); */
  background-size: cover;
  /* background-color: rgb(235, 235, 235); */
  background-color: #fcfcfc;
} 
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  /* margin-left: 260px; */
}

.content {
  display: flex;
  width: 100%;
}

.main-content {
    margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
 
}

.card {
  background: #fff;
  border: 1px solid hsla(220, 20%, 80%, 0.4);
  border-radius: 12px; 
  padding: 16px 20px;
  margin: 12px;
  /* box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.1); */
  width: 300px;
  text-align: center;
}

.card h2 {
  margin: 0 0 10px;
  font-size: 20px;
  border-bottom: 1px solid hsla(220, 20%, 80%, 0.4);
  padding-bottom: 4px;
  font-family: "Ramabhadra", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card .count {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  transition: opacity 0.5s ease-in-out;
}
.button-group {
  display: flex;
  justify-content: center !important;
  gap: 10px; /* Adjust the gap as needed */
}

#enroll-btn{
  background: none;
  border: 1px solid #374441;
  color: #181818 ;
  font-family: "Ramabhadra", sans-serif;
  font-weight: 400;
  font-style: normal;

}
#enroll-btn:hover{
  background-color: #374441;
  color: azure;
}
.card button {
  padding: 6px 28px;
  border: none;
  background: #374441;
  color: #fff;
  border-radius: 4px; 
  cursor: pointer;
  font-family: "Ramabhadra", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card button:hover {
  background-color: #ffffff00;
  color: #374441;
  border:1px solid #374441 ;
}

@media (max-width: 1024px) {
  .main-content {
    margin-top: 100px;
  padding: 10px;

}
  .card {
    width: 200px;
    padding: 12px;
  }
  .card h2 {
    font-size: 16px;
  }
  .card .count {
    font-size: 18px;

  }

  .card button {
    padding: 2px 16px;
  }
  
  
}